.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.search_area {
    width: 1200px;
    margin: 0 auto;
    position: relative;/*包含块*/
}

.search>form {
    height: 100px;
    line-height: 100px;
}

.search_area>.logo, .search {
    float: left;
}
.shoppingCart {
    height: 100px;
    float: left;
    position: absolute;
    right: 0px;
}
.shoppingCart>form {
    height: 100px;
    line-height: 100px;
}

.shoppingCart>form button {
    width: 92px;
    height: 40px;
    border: none;
}
.shoppingCart button:first-child{
    background-color: #ff2832;
    color: white;
}
.shoppingCart button:last-child{
    border: 1px solid rgb(203, 198, 198);
}

#sprite {
    background-image: url("../images/head_sprite.png");
    background-position: 0 -346px;
    width: 48px;
    height: 40px;
    border: none;

}

#names {
    width: 398px;
    height: 36px;
    border: 2px solid #ff2832;
    border-right: none;

}

#classify {
    width: 92px;
    height: 36px;
    border: none;
    outline: 2px solid #ff2832;
    vertical-align: middle;
}

/* -------------分界线------------------- */
.nav_top{ 
    line-height: 40px;
    border-bottom: 3px solid #ff2832;
}
.nav_top li{
    float: left;
}
.nav_top>div{
   width: 1200px; 
   margin: 0 auto;
}
/* 除开第一个元素的其他li元素 */
.nav_top>div>ul>li:not(:first-child){
    padding: 0px 15px;
    color: #323232;
    font: 14px / 40px "Microsoft Yahei";
    font-weight: bold;
}
.all{
    width: 200px;
    background-color: #ff2832;   
    text-align: center;
}
.all_a{
    position: relative;
    left: -25px;
}
.all>i{
    position: relative;
    right: -20px;
}
.all_a:link,.all>i{
    color: white;
    font-weight: bold;
}
/* -----------------分界线--------------- */
article>div{
    width: 1200px;
    margin: 0 auto;
  
}
article>div>.article_flag1{
height: 480px;
float: left;
font: 14px / 30px "Microsoft Yahei";
}
.article_flag1{
width: 200px;
background-color: rgb(250, 250, 250);
}
.article_flag1>ul>li{
        height: 30px;
        padding-left: 18px;
}
.article_flag2{
    width: 796px;
    background-color: #27948e;
}
.article_flag3{
    width: 202px;
    background-color: #978c30;
}

#flag{
    width: 796px;
    height: 326px;
}

/* -----------------分界线--------------- */











