.search_area {
    position: relative;
    /*包含块*/
}

.search>form {
    height: 100px;
    line-height: 100px;
}

.search_area>.logo,
.search {
    float: left;
}

.shoppingCart {
    height: 100px;
    float: left;
    position: absolute;
    right: 0px;
}

.shoppingCart>form {
    height: 100px;
    line-height: 100px;
}

.shoppingCart>form button {
    width: 92px;
    height: 40px;
    border: none;
}

.shoppingCart button:first-child {
    background-color: #ff2832;
    color: white;
}

.shoppingCart button:last-child {
    border: 1px solid rgb(203, 198, 198);
}

#sprite {
    background-image: url("../images/head_sprite.png");
    background-position: 0 -346px;
    width: 48px;
    height: 40px;
    border: none;

}

#names {
    width: 398px;
    height: 36px;
    border: 2px solid #ff2832;
    border-right: none;

}

#classify {
    width: 92px;
    height: 36px;
    border: none;
    outline: 2px solid #ff2832;
    vertical-align: middle;
}

/* -------------分界线------------------- */
.nav_top {
    line-height: 40px;
    border-bottom: 3px solid #ff2832;
}

.nav_top li {
    float: left;
}

/* 除开第一个元素的其他li元素 */
.nav_top>div>ul>li:not(:first-child) {
    padding: 0px 15px;
    color: #323232;
    font: 14px / 40px "Microsoft Yahei";
    font-weight: bold;
}

.all {
    width: 200px;
    background-color: #ff2832;
    text-align: center;
}

.all_a {
    position: relative;
    left: -25px;
}

.all>i {
    position: relative;
    right: -20px;
}

.all_a:link,
.all>i {
    color: white;
    font-weight: bold;
}

/* -----------------分界线--------------- */
article>div {
    height: 508px;
    padding-bottom: 20px;
}

.article_flag1 {
    height: 486px;
    float: left;
    font: 14px / 30px "Microsoft Yahei";
    padding: 4px 0px;
    width: 200px;
    background-color: rgb(250, 250, 250);
}

.article_flag1>ul>li {
    height: 30px;
    padding-left: 18px;
}

.article_flag2 {

    border-bottom: 1px solid #e6e6e6;
    float: left;
    width: 796px;

}

.article_flag3 {
    float: left;
    width: 203px;
    height: 486px;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

#flag {
    padding-bottom: 1px;
    width: 796px;
    height: 326px;
    float: left;
    position: relative;
}

#flag>a {
    display: block;
    width: 796px;
    height: 326px;
    cursor: pointer;
    position: absolute;

}

.The_list {
    cursor: pointer;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    float: left;
    width: 199px;
    height: 160px;


}

.article_flag3>div:nth-child(1) {
    border-top: 1px solid #e6e6e6;
    width: 202px;
    height: 195px;

}

.article_flag3>div:nth-child(2) {
    width: 202px;
    border-bottom: 1px solid #e6e6e6;
}

.article_flag3>div:nth-child(3) {
    width: 202px;
    height: 119px;

}

aside {
    height: 28px;
}

aside>div {
    width: 50%;
    float: left;
    text-align: center;
    background-color: #f0f0f0;
}

aside+div {
    padding-top: 6px;
    width: 202px;
    height: 142px;

}

aside+div>ul>li {
    width: 183px;
    height: 25px;
}

aside+div>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.article_flag3>div:nth-child(3) img {
    position: absolute;
}

/* -----------------抢购部分分界线--------------- */

.rush_to_purchase>div {
    height: 497px;
}

.home_miaosha {
    width: 991px;
    float: left;
}

.home_miaosha>.head {
    width: 991px;
    height: 39px;
    border-bottom: 2px solid #3c3c3c;

}

.home_miaosha>.head>div {
    float: left;
    height: 39px;
    width: 224px;
}

.div_times {
    line-height: 39px;

}

.div_times a {
    display: block;
    height: 39px;
    width: 83px;
    background-image: url(../images/home_miaosha_title-1561107108.png);
    background-size: 64px 39px;
    background-position: 0px 4px;
    background-repeat: no-repeat;
    float: left;
}

.div_times>span {
    height: 24px;
    width: 24px;
    vertical-align: top;
    text-align: center;
}

.div_times>.h,
.div_times>.m,
.div_times>.s {

    border: 1px solid rgb(41, 40, 40);
    padding: 3px 5px;

}

.head>ul {
    float: right;
    height: 39px;
}

.head>ul>li {
    float: left;
    margin-right: 50px;
    line-height: 39px;
    font-size: 20px;
    font-weight: bold;
}

.head>ul>li:nth-child(3)>a {
    color: #e14951;
}

.home_miaosha>.head_bottom {
    border-left: 1px solid #e6e6e6;
    width: 991px;
    height: 454px;
}

.sh_box {
    float: left;
    width: 198px;
    height: 227px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.sh_box>a {
    display: block;
    width: 100%;
    text-align: center;
}

.book_name {
    width: 100%;
    margin: 0 9px;
}

.firm_week {
    float: left;
}

.head2 {
    height: 39px;
    width: 209px;
    border-bottom: 2px solid #ff2832;
}

.head2>h3 {
    width: 128px;
    line-height: 39px;
    padding-left: 10px;
    float: left;
    color: rgb(255, 39, 49);
    font-size: 20px;
}

.head2>ul {
    float: left;
    width: 81px;
}

.head2>ul>li {
    float: right;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c8c8c8;

    margin-top: 15px;
    margin-right: 4px;
}

.head2>ul>li:last-child {
    background-color: #e14951;
}

.head2_bottom {
    width: 209px;
    overflow: hidden;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e5e5e5;
}

.head2_bottom_div {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    height: 113px;

}

/* --------------------------------------------------------- */

.ebook{
    margin-bottom: 30px;
}
.ebook>div {
    height: 499px;
    display: flex;
    justify-content: space-between;
    /* background-color: violet; */
}

.aside_left {
    width: 910px;
    /* background-color: yellowgreen; */
}

.aside_right {

    width: 278px;
    height: 499px;
}

.aside_left_header {
    width: 910px;

    border-bottom: 2px solid #000;
}

.aside_left_content {
    width: 910px;
    margin-top: 11px;
}

.aside_left_header_h6 {
    display: flex;
    justify-content: space-between;

}

.aside_left_header_h6 h6 a {
    font: bold 20px/44px "Microsoft YaHei";
    color: #323232;
}

.aside_left_header_h6>ul {
    height: 44px;
    display: flex;
}

.aside_left_header_h6>ul>li {
    width: 112px;
    text-align: center;
    border-top: #c8c8c8 solid 1px;
    border-right: #c8c8c8 solid 1px;
    font: 14px/44px "Microsoft YaHei";
    color: #646464;
}

.aside_left_header_h6>ul>li:first-child {
    border-left: #c8c8c8 solid 1px;

}

/* ------------------------- */
.aside_left_content {
    display: flex;
}

.aside_left_content_left {
    width: 239px;
    height: 441px;
    border: 1px solid #e6e6e6;
}

.aside_left_content_left>a {
    display: block;
    width: 238px;

}

.aside_left_content_right {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.aside_left_content_left>ul>li>a {
    font: 12px/28px "Microsoft YaHei";
    display: block;
    width: 79px;
    height: 28px;
    padding-left: 16px;
}

.aside_left_content_left>ul {
    display: flex;
    flex-wrap: wrap;
}

/* --------------------分界线------------------------- */

.aside_left_content_right {
    display: flex;
    flex-wrap: wrap;
    width: 671px;
    height: 441px;
}

.aside_left_content_right>div {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    width: calc(671px/4);
    height: calc(441px/2);
}

.aside_left_content_right>div:first-child {
    width: calc(671px/2);


}

.aside_left_content_right>div>a:not(:first-child) {
    display: block;
    text-align: center;
    margin-top: 7px;
    width: calc(671px/4);
    height: calc(441px/2);
}

.aside_left_content_right>div>a:first-child {
    display: block;
    text-align: center;
    width: calc(671px/4);
    height: calc(441px/2);
}

.aside_left_content_right>div>a:not(:first-child)>img {
    width: 150px;
    height: 150px;

}

.aside_right>div:first-child {
    display: flex;
}

.aside_right>div>a {
    height: 46px;
    width: calc(278px/2);

    text-align: center;
    line-height: 46px;
}

/* ------------------------------------------------------ */
.aside_right>div:last-child {
    padding-top: 10px;
}

.aside_right>div:last-child>ul>li {
    height: 32px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.aside_right>div:last-child>ul>li>span {
    padding-left: 5px;
    width: 10%;
}

.aside_right>div:last-child>ul>li>a>span {
    display: inline-block;
    width: 140px;
}

.aside_right>div:last-child>ul>li:nth-of-type(1)>span {
    color: #ff020f;
}

.aside_right>div:last-child>ul>li:nth-of-type(2)>span {
    color: #ee3c45;
}

.aside_right>div:last-child>ul>li:nth-of-type(3)>span {
    color: #f5767c;
}

.aside_right>div:last-child>ul>li>a {
    display: block;
    height: 100%;
    width: 90%;
    line-height: 32px;
    font-size: 12px;
    color: #666;
    font-family: 'Microsoft YaHei';
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;

}

.aside_right>div>ul>li:first-child {
    height: 132px;
}



.Books_selected_Hao_store_input>div:first-child {
    width: 100%;
    height: 42px;

}

.Books_selected_Hao_store_input>div:first-child>a {
    display: block;
    width: 146px;

    font: bold 20px/44px "Microsoft YaHei";
    color: #323232;
}

.Books_selected_Hao_store_input>div:first-child>a::after {
    content: "|";
    padding-left: 10px;
    font: 20px/44px "Microsoft YaHei";
    font-weight: 100;
    color: #6c6c6c;
}
.Books_selected_Hao_store_input>div:last-child{
    display: flex;
    border-top: 1px solid #e6e6e6;
    width: 100%;
    height: 342px;
}
.haostorediv{
    flex-grow: 1;
}
.Books_selected_Hao_store_input>div:last-child>div:nth-child(3){
   flex-grow: 2;
}
.haostorediv>a{
    display: block;
    width: 100%;
    height: 50%;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}